
<div class="row"> 
    <h1>
        Experiencia Laboral
    </h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, repellat. Voluptate molestias, impedit consequatur, ex officia voluptatem tempora sequi et provident nihil error facilis in totam aliquam dolorum ducimus. Magnam!</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>
                <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, repellat. Voluptate molestias, impedit consequatur, ex officia voluptatem tempora sequi et provident nihil error facilis in totam aliquam dolorum ducimus. Magnam!</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>
                <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, repellat. Voluptate molestias, impedit consequatur, ex officia voluptatem tempora sequi et provident nihil error facilis in totam aliquam dolorum ducimus. Magnam!</h3>
            </li>
        </ul>
    </div>

</div>
