<div class="row">
    <h1>Hard & soft skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="80"
    [backgroundColor]="'transparent'"
    [backgroundGradientStopColor]='"transparent"'
    [backgroundStroke]='"transparent"'
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [titleColor]="'#dd6422'"
    [unitsColor]="'#44444'"
    [subtitleColor]="'#A9A9A9'"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [backgroundColor]="'transparent'"
    [backgroundGradientStopColor]='"transparent"'
    [backgroundStroke]='"transparent"'
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [titleColor]="'#dd6422'"
    [unitsColor]="'#44444'"
    [subtitleColor]="'#A9A9A9'"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/Unofficial_JavaScript_logo_2.svg.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [backgroundColor]="'transparent'"
    [backgroundGradientStopColor]='"transparent"'
    [backgroundStroke]='"transparent"'
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [titleColor]="'#dd6422'"
    [unitsColor]="'#44444'"
    [subtitleColor]="'#A9A9A9'"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/5847ea22cef1014c0b5e4833.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [backgroundColor]="'transparent'"
    [backgroundGradientStopColor]='"transparent"'
    [backgroundStroke]='"transparent"'
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [titleColor]="'#dd6422'"
    [unitsColor]="'#44444'"
    [subtitleColor]="'#A9A9A9'"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/React-icon.svg.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [backgroundColor]="'transparent'"
    [backgroundGradientStopColor]='"transparent"'
    [backgroundStroke]='"transparent"'
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [titleColor]="'#dd6422'"
    [unitsColor]="'#44444'"
    [subtitleColor]="'#A9A9A9'"
></circle-progress>
</div>
</div>
