
<body>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img class="img-fluid" src="../../../assets/1666963964307.jpg" id="fotodeperfil"/>
    </div>
    <div class="col-xs-12 col-sm-2  col-md-2 col-lg-2" >
        <p id="nombre">
            Camila Estefania Camacho
        </p>
        <p>
            Full Stack Developer
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mi</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ab possimus pariatur minima! Nobis dolore labore nihil in reprehenderit? Nostrum error voluptate laboriosam quas adipisci vel, inventore impedit architecto cumque.
            </p>
        </span>
    </div>
    
</div>
</body>
